.flexbox {
	display: flex;
	display: -moz-box;
	display: -webkit-box;
	text-align: left;
}

header {
	min-width: 640px;
	background: #00FF00;
}

footer {
	min-width: 640px;
	background: #00FF00;
}

#main {
	min-width: 640px;
	background: #FF9;
}

#box-1 {
	min-width: 180px;
	height: auto;
	background: #0FF;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
}

#box-2 {
	min-width: 180px;
	height: auto;
	background: #C99;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	box-flex: 2;
	-moz-box-flex: 2;
	-webkit-box-flex: 2;
}

nav {
	min-width: 120px;
	height: auto;
	background: #FF0;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	box-flex: 3;
	-moz-box-flex: 3;
	-webkit-box-flex: 3;
}